{% load static i18n thumbnail %}
<ul>
  {% if notifications %}
    {% for notification in notifications %}
      <li class="clearfix">
        <p><a href="{% url 'notifications:unread' %}">{{ notification|safe }}&nbsp;<small>{{ notification.timestamp }}</small></a></p>
      </li>
    {% endfor %}
    <!--a class="doc_border_btn btn_small" href="{#% url 'notifications:unread' %#}">{#% trans 'Tout voir' %#}</a-->
    <a class="doc_border_btn btn_small" href="{% url 'notifications:mark_all_read' %}">{% trans 'Marquer en tant que lues' %}</a>
  {% else %}
    <li class="text-center" data-empty="true">{% trans 'Aucune notification non lue trouvée' %}</li>
  {% endif %}
</ul>
