[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
argon2-cffi = "*"
python-slugify = "*"
pytz = "*"
redis = "*"
whitenoise = "*"
django-allauth = "*"
django-contrib-comments = "*"
django-crispy-forms = "*"
django-autocomplete-light = "*"
django-environ = "*"
django-markdownx = "*"
django-redis = "*"
django-safedelete = "*"
django-taggit = "*"
sorl-thumbnail = "*"
channels = "*"
channels-redis = "*"
graphene-django = "*"
beautifulsoup4 = "*"
boto3 = "*"
gevent = "*"
raven = "*"
psycopg2 = "*"
django-anymail = "*"
django-storages = "*"
Pillow = "*"
Django = "*"
django-recaptcha = "*"
django-ckeditor = "*"
django-ckeditor-5 = "*"
nltk = "*"
phonenumberslite = "*"
django-phonenumber-field = {extras = ["phonenumberslite"],version = "*"}
spacy = "*"
django-versatileimagefield = "*"
django-contact-form= "*"
akismet="*"
django-ads="*"
django-sekizai="*"
[requires]
python_version = "3.6"
