<section class="doc_features_area">
    <img class="doc_features_shap" src="{% static 'img/new/shap_white.png' %}" alt="">
    <div class="container">
        <div class="doc_features_inner">
            {% for category in categories %}
            <div class="media doc_features_item wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
                <img src="{#% static category.icon %#}" alt="">
                <div class="media-body">
                    <a href="{% url 'categories:demands' category.slug %}">
                        <h4>{{category.name}}</h4>
                    </a>
                    {% with total=category.posts_count %}
                    <p>{{ total }} post{{ total|pluralize }}</p>
                    {% endwith %}

                </div>
            </div>
            {% endfor %}

        </div>

        <div class="doc_title text-center pt_100">
            <h2 class="wow fadeInUp" data-wow-delay="0.2s">How it works</h2>
            <p class="wow fadeInUp" data-wow-delay="0.4s">Learn languages online with the world's best tutors
            </p>
        </div>

        {% include 'redico/snippets/video.html'%}
</section>