{% for demand in demands %}
<li class="infinite-item">
    <div class="media">
        <div class="media-body">
            <div class="t_title">
                <a href="article-single.html">
                    <h4>
                        {{demand.title}}
                        {% if demand.verified %}
                        <ion-icon name="checkmark-circle" role="img" class="md hydrated"
                                  aria-label="checkmark circle"></ion-icon>
                        {% endif %}
                    </h4>
                </a>
                <p>{{demand.content|safe|truncatechars:80}}</p>
            </div>
            <a href="#">
                <h6><i class="icon_lightbulb_alt" aria-hidden="true"></i> {{demand.categoryName}}
                </h6>
            </a>
            <h6><i class="icon_clock_alt"></i> {{ demand.timestamp|timesince }}
            </h6>
            <a href="{% url 'demands:demand' demand.slug %}" class="doc_border_btn btn_small">Modifier
                le texte</a>
            <a href="{% url 'demands:demand' demand.slug %}" class="doc_border_btn btn_small">Accéder
                aux révisions</a>
        </div>
        <div class="media-right">
            <a class="count" href="#">
                <ion-icon name="create-outline"></ion-icon>
                {{ demand.revision_count }}</a>
            <!--a class="count" href="#"><ion-icon name="eye-outline"></ion-icon> 420</a-->
        </div>
    </div>
</li>
{% endfor %}