        <section class="doc_banner_area search-banner-light">
            <div class="container">
                <div class="doc_banner_content">
                    <h2 class="wow fadeInUp">Bienvenue à Redico</h2>
                    <p style="color: #000;">Plateforme d'aide à la rédaction</p>
                    <form action="#" class="header_search_form">
                    <div class="header_search_form_info">
                        <div class="form-group">
                            <div class="input-wrapper">
                                <i class="icon_search"></i>
                                <input type="search" id="searchbox" autocomplete="off" name="search" placeholder="Recherche par mot-clés">

                            </div>
                        </div>
                    </div>

                </form>
                </div>
            </div>
        </section>