<nav class="navbar navbar-expand-lg menu_one dark_menu sticky-nav">
    <div class="container">
        <a class="navbar-brand header_logo" href="{% url 'home:home' %}">
            <img class="first_logo sticky_logo main_logo" src="{% static 'img/logo.png' %}"
                 srcset="{% static 'img/logo.png' %} 2x" alt="logo">
            <img class="white_logo" src="{% static 'img/logo-w.png' %}" srcset="{% static 'img/logo-w2x.png' %} 2x"
                 alt="logo">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="menu_toggle">
                        <span class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="hamburger-cross">
                            <span></span>
                            <span></span>
                        </span>
                    </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav menu ml-auto">
                <li class="nav-item dropdown submenu active">
                    <a href="{% url 'home:home' %}" class="nav-link dropdown-toggle">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'demands:unfulfilled' %}" class="nav-link">Textes en attente de correction</a>
                </li>


            </ul>
            <div class="right-nav">
                {% if request.user.is_authenticated %}
                <a href="{% url 'demands:write_new' %}" class="action_btn btn_small">Ajouter un article</a>
                {% endif %}
                <a class="px-2 ml-3" href="#" title="Subscribe to the newsletter">
                </a>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'account_login' %}" class="doc_border_btn btn_small"><i class="icon_profile"></i> Se
                    connecter</a>
                {% else %}
                <a href="{% url 'account_logout' %}" class="doc_border_btn btn_small"><i class="icon_profile"></i> Se
                    déconnecter</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>