{% extends "redico/redico_base.html" %}
{% load i18n %}
{% block content %}
<section class="doc_blog_grid_area sec_pad forum-single-content">
    {% include 'redico/snippets/banner.html' with heading="Connexion réseaux sociaux"%}
    <div class="container">
        {% include 'redico/snippets/messages.html' %}
        <div class="row">
            {% include 'redico/snippets/leftside-ad.html' %}
            <div class="col-lg-8">
                <!-- Forum post top area -->
                <div class="row">
                    <div class="col-lg-12">
                        {% block inner %}
                        {% endblock %}
                    </div>
                </div>
                </div>
                {% include 'redico/snippets/rightside-ad.html' %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
