{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block inner %}

{% if process == "connect" %}
<h3>Connexion {{ provider.name }}</h3>
{% else %}
<h3>Connexion via {{ provider.name }}</h3>
{% endif %}
<form method="post" id="connect">
    {% csrf_token %}
    <!--button class="form-control btn btn-primary" type="submit">{#% trans "Continue" %#}</button-->
</form>

{% endblock %}
{% block javascript%}
{{block.super}}
<script>
    $("#connect").submit();
</script>
{% endblock %}
https://web.facebook.com/v13.0/dialog/oauth?client_id=2133019940193864&redirect_uri=https%3A%2F%2Fqueneau.herokuapp.com%2Faccount%2Ffacebook%2Flogin%2Fcallback%2F&scope=email%2Cpublic_profile&response_type=code&state=iDuiqp3dHjSi&auth_type=reauthenticate&ret=login&fbapp_pres=0&logger_id=9b29de9c-5cea-4210-9f2c-cb5acbebd8a4&tp=unspecified&cbt=1652553014817&ext=1652556624&hash=Aea0iAERhcbT4NT9aSA