{% extends 'redico/redico_base.html' %}
{% load static %}

{% block title%}  Redico -  Article {% endblock title%}  

{% block content %}
{% include 'redico/snippets/banner.html' with heading=article.title %}
{#% include 'redico/snippets/categories-breadcumb.html' with categoryName=article.category_name %#}
        <section class="page_breadcrumb">
            <div class="container custom_container">
                <div class="row">
                    <div class="col-sm-7">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'homepage:home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{#% url 'categories:detail' article.category_slug %#}">{{article.category_name}}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-sm-5">
                        <a href="#" class="date"><i class="icon_clock_alt"></i>{{article.timestamp|timesince}}</a>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Forum Breadcrumb Area =================-->

        <section class="doc_blog_grid_area sec_pad forum-single-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <!-- Forum post top area -->
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="forum-post-top">

                                    <div class="forum-post-author">
                                        <a class="author-name" href="#"> {{article.title}} </a>
                                        <div class="forum-author-meta">
                                            <div class="author-badge">
                                                <span>Conversation Starter</span>
                                            </div>
                                            <div class="author-badge">
                                                <i class="icon_calendar"></i>
                                                <a href="">{{article.timestamp}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="action-button-container">
                                    <a href="{#% url 'articles:edit_article' article.pk %#}" class="action_btn btn-ans ask-btn">Modifier</a>
                                </div>
                            </div>
                        </div>

                        <!-- Forum post content -->
                        <div class="q-title">
                            <h1>{{article.title}}</h1>
                        </div>
                        <div class="forum-post-content">
                            <div class="content">
                                {{article.content}}
                            </div>
                            <div class="forum-post-btm">
                                <div class="taxonomy forum-post-tags">
                                    <i class="icon_tags_alt"></i><a href="#">Reformuler mon texte</a>
                                </div>

                            </div>
                            <div class="action-button-container action-btns">
                                <a href="#" class="action_btn btn-ans ask-btn reply-btn">Modifier</a>
                                <a href="#" class="action_btn btn-ans ask-btn too-btn">Revision (2)</a>
                            </div>
                        </div>
{% endblock content %}

