{% extends 'redico/redico_base.html' %}
{% load static %}

{% block title%}  Redico -  demand {% endblock title%}
{#% block css %#}
{#{block.super}#}
<!--link rel="stylesheet" href="https://ckeditor.com/docs/ckeditor5/latest/snippets/features/read-only-build/snippet.css"/-->
{#% endblock css %#}
{% block seo %}
<meta name="keywords" content="{{demand.keywords}}"/>
<meta name="title" content="Redico — {{demand.title}}— Plateforme d'aide à la rédaction">
<meta name="description" content="{{demand.content|striptags|safe|truncatechars:40}}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://redico.wiki/">
<meta property="og:title" content="Redico — Demande TITLE — Plateforme d'aide à la rédaction">
<meta property="og:description" content="RediCo est une plateforme d’aide à la rédaction qui s’adresse à la population francophone.">
<meta property="og:image" content="https://redico.wiki/media/redico.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://redico.wiki/">
<meta property="twitter:title" content="Redico — {{demand.title}} — Plateforme d'aide à la rédaction">
<meta property="twitter:description" content="RediCo est une plateforme d’aide à la rédaction qui s’adresse à la population francophone.">
<meta property="twitter:image" content="https://redico.wiki/media/redico.png">
{% endblock %}
{% block content %}
{#% include 'redico/snippets/banner.html' with heading=demand.title %#}
{% include 'redico/snippets/categories-breadcumb.html' with categoryName=demand.category_name %}
<section class="doc_blog_grid_area sec_pad forum-single-content">
    <div class="container">
         {% include 'redico/snippets/messages.html' %}
        <div class="row">
            <div class="col-lg-9">
                <!-- Forum post top area -->
                <div class="row">
                    <div class="col-lg-9">
                        <div class="forum-post-top">
                            <div class="forum-post-author">
                                <a class="author-name" href="#"> {{demand.user.username}} </a>
                                <div class="forum-author-meta">
                                    <div class="author-badge">
                                        <i class="icon_calendar"></i>
                                        <a href="">{{demand.timestamp}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="action-button-container">
                            <!--a href="#" class="action_btn btn-ans ask-btn">Modifier</a-->
                            <button id="toggle" class="action_btn btn-ans ask-btn" style="border: none;">Composer</button>
                            <button id="reset" class="action_btn btn-ans ask-btn" style="display:none; border: none;">Annuler</button>

                        </div>
                    </div>
                </div>

                <!-- Forum post content -->
                <div class="q-title">
                    <h1>{{demand.title}}</h1>
                </div>
                <div class="forum-post-content">
                    <form id="suggest-form" method="post" action="">
                        {% csrf_token %}
                        {{suggest_form.as_p}}
                    </form>
                    <div id="introduction" class="content">
                        {{demand.content |safe}}
                    </div>
                    <div class="forum-post-btm">
                        <div class="taxonomy forum-post-tags">
                            <i class="icon_tags_alt"></i><a href="#">{{demand.service_name}}</a>
                        </div>

                    </div>
                    <div class="action-button-container action-btns">
                        <a href="#" class="action_btn btn-ans ask-btn reply-btn suggest-btn">Enregistrer</a>
                        <a href="#" class="action_btn btn-ans ask-btn too-btn">Révisions ({{revisions.count}})</a>
                    </div>
                </div>
                <!-- All answer -->
                <div class="all-answers">
                    <h3 class="title">Révisions proposées: {{revisions.count}}</h3>
                    <div class="changelog_content">
                        {% if revisions.count %}
                        {% for revision in revisions %}
                        <div class="reviewlist">
                            {{revision.content|safe|truncatechars:120}}
                            <div class="download-links pb_30">
                                <!--span class="improve">Numéros de révision  2 </span-->
                                <a href="#" class="changelog_btn"><i class="icon_document_alt"></i>{{revision.timestamp|timesince}} </a>
                                <a href="#" class="changelog_btn"><i class="icon_profile"></i>{{revision.user.username}}</a>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.col-lg-8 -->

            <!-- /.col-lg-4 -->
        </div>
    </div>
</section>


{% endblock content %}
{% block javascript %}
{{block.super}}
<script src="https://cdn.ckeditor.com/4.18.0/standard-all/ckeditor.js"></script>
<!--script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script-->
<!--script src="https://ckeditor.com/docs/ckeditor5/latest/assets/snippet.js"></script-->
<!--script src="{#% static 'js/ckeditor-read-only-hide-toolbar.js' %#}"></script-->
<script>
    // The inline editor should be enabled on an element with "contenteditable" attribute set to "true".
    // Otherwise CKEditor 4 will start in read-only mode.
    var introduction = document.getElementById('introduction');
    introduction.setAttribute('contenteditable', false);

    CKEDITOR.inline('introduction', {
      // Allow some non-standard markup that we used in the introduction.
      extraAllowedContent: 'a(documentation);abbr[title];code',
      removePlugins: 'stylescombo',
      extraPlugins: 'sourcedialog',
      removeButtons: 'PasteFromWord',
      // Show toolbar on startup (optional).
      startupFocus: true
    });
</script>
<script>
      // Sample: Inline Editing Enabled by Code
      ( function() {
        var isEditingEnabled,
          toggle = document.getElementById( 'toggle' ),
          reset = document.getElementById( 'reset' ),
          introduction = document.getElementById( 'introduction' ),
          introductionHTML = introduction.innerHTML;

        function enableEditing() {
          if ( !CKEDITOR.instances.introduction ) {
            CKEDITOR.inline( 'introduction', {
              extraAllowedContent: 'a(documentation);abbr[title];code',
              removePlugins: 'stylescombo',
              extraPlugins: 'sourcedialog',
              removeButtons: 'PasteFromWord',
              startupFocus: true
            } );
          }
        }

        function disableEditing() {
          if ( CKEDITOR.instances.introduction )
            CKEDITOR.instances.introduction.destroy();
        }

        function toggleEditor() {
          if ( isEditingEnabled ) {
            if ( CKEDITOR.instances.introduction && CKEDITOR.instances.introduction.checkDirty() ) {
              reset.style.display = 'inline';
            }
            disableEditing();
            introduction.setAttribute( 'contenteditable', false );
            this.innerHTML = 'Start editing';
            isEditingEnabled = false;
          }
          else {
            introduction.setAttribute( 'contenteditable', true );
            enableEditing();
            this.innerHTML = 'Finish editing';
            isEditingEnabled = true;
          }
        }

        function resetContent() {
          reset.style.display = 'none';
          introduction.innerHTML = introductionHTML;
        }

        function onClick( element, callback ) {
          if ( window.addEventListener ) {
            element.addEventListener( 'click', callback, false );
          }
          else if ( window.attachEvent ) {
            element.attachEvent( 'onclick', callback );
          }
        }

        onClick( toggle, toggleEditor );
        onClick( reset, resetContent );
      } )();

</script>
<script>
                    $(document).ready(function(){
                        $('.suggest-btn').click(function(e){
                            if($('#introduction').text().value < 100){
                                return false;
                            }
                            e.preventDefault();
                            $('input[name="demand"]').val('{{demand.pk}}');
                            $('input[name="title"]').val("{{demand.title}}-{{user.username}}-{% now 'U' %}");
                            $('input[name="content"]').val($('#introduction').html());
                            let form_data = $('#suggest-form').serialize();
                            console.log(form_data);
                             $.ajax({
                                url: '{% url "articles:suggest" demand.pk %}',
                                type: 'POST',
                                data: form_data,
                                cache: false,
                                success: function(e,a,b){
                                   console.log(e);
                                   alert("Merci, votre proposition est enregistrée, \n l'auteur en sera notifié et sera publiée après confirmation.");
                                   window.location.href = "/";
                                },
                                error: function(a,b,c,d){
                                    console.log(a);
                                }
                            });
                        });
                    });

</script>
<script>
    function validateSummary(selector="#introduction"){
    const summary = document.querySelector(selector).value;
    const summaryLength = summary.length;

    const element = document.querySelector("#char_count");
    //element.innerHTML = summaryLength;

    if(summaryLength > 100){
        //element.classList.add("text-danger");
        alert("Votre révision ne peut pas dépassée 100 caractères!")
    }
    else {
        element.classList.remove("text-danger");
    }
}
</script>
<script>
    const content = document.getElementById('introduction');
    content.addEventListener('keyup', validateSummary);
	function count_remaining_character(editable) {
		var max_length = 100;
		var character_entered = editable.innerText.length;
		var character_remaining = max_length - character_entered;
		$('#character-count').html(character_remaining);
		if (max_length < character_entered) {
			$('#character-count').css('color', '#FF0000');
			var inputText = $('#text-content').text();
			var allowedText = inputText.substring(0, max_length);
			var extraText = inputText.substring(max_length);

			if (editable.childElementCount > 0) {
				var innerText = $("#text-content div").last().text();
				if (innerText.length > 0) {
					var lastIndex = innerText.lastIndexOf(extraText);
					if (lastIndex >= 0) {
						var allowedText = innerText.substring(0, lastIndex);
						$("#text-content div").last().html(
								allowedText + "<span>" + extraText + "</span>");
					}
				}
			} else {
				$(editable)
						.html(allowedText + "<span>" + extraText + "</span>");
			}
			placeCaretAtEnd(editable);
		} else {
			$('#character-count').css('color', '#A0A0A0');
		}
	}

	function placeCaretAtEnd(el) {
		el.focus();
		var range = document.createRange();
		range.selectNodeContents(el);
		range.collapse(false);
		var sel = window.getSelection();
		sel.removeAllRanges();
		sel.addRange(range);
	}
</script>
{% endblock javascript%}


