{% extends "redico/redico_base.html" %}
{% load static  %}
{% block title %}Redico - Rédaction & Reformulation de vos textes en Français{% endblock title %}
{% block content %}
{% include 'redico/snippets/jumbotron.html' %}
{#% include 'redico/snippets/messages.html' %#}
{% include 'redico/snippets/demands_list_3.html' with demands=demands %}



{% endblock content %}
{% block javascript%}
    {{block.super}}
    <script src="{% static 'js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/infinite.min.js' %}" type="text/javascript"></script>
    <script>
    $(document).ready(function(){
        window.total_count = eval({{demands.count}});
        window.current_page = eval({{ demands.next_page_number }});
        $("#feed").click(function(){
          // window.feed();
        });
       window.feed = function(){
            $.ajax({
                url: "{% url 'demands:demands_feed' %}" ,
                type: 'GET',
                data: { "page": window.current_page },
                //dataType: 'json',
                cache: false,
                success: function(e,a,b){
                    //console.log(e);
                    $('.topic_list').append(e);
                    window.current_page++;
                },
                error: function(a,b,c,d){
                    console.log(b);
                }
            });
       };
        var infinite = new Waypoint.Infinite({
           element: $('.infinite-container')[0],
           handler: function(direction) {
               //window.feed();
           },
           onBeforePageLoad: function () {
                $('.loading').show();
           },
           onAfterPageLoad: function ($items) {
                $('.loading').hide();
           }
        });
     });
    </script>
{% endblock %}
