{% extends "redico/redico_base.html" %}
{% load static %}
{% load thumbnail %}
{% block css%}
{{block.super}}
<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
<style>
    .modal-backdrop {
        z-index: -1 !important;

    }
</style>
{%endblock%}
{% block content %}
<section class="doc_banner_area search-banner-light">
    <div class="breadcrumb_text">
        <p class="headerslug">Bienvenue sur votre compte<br>Redico</p>
    </div>
</section>

<!--================Forum Content Area =================-->
<section class="forum-user-wrapper">
    <div class="container">
        <div class="row forum_main_inner">
            <div class="col-lg-3">
                <div class="author_option">
                    {%comment%}
                    <div class="author_img">
                        {% if user.picture %}
                        {#% thumbnail user.picture "x250" as im %#}
                        <img src="{{MEDIA_URL}}{{ user.picture }}" width="250" alt="Picture Profile" id="pic"
                            class="img-fluid" />
                        {#% endthumbnail %#}
                        {%else%}
                        <img class="img-fluid" src="{% static 'img/forum/author-1.jpg' %}" alt="">
                        {%endif%}
                    </div>
                    {%endcomment%}
                    <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">
                                <i class="icon_profile"></i> Profil
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">
                                <i class="icon_documents"></i> Textes créés
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="forum_body_area">
                    <div class="forum_topic_list">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="profile_info">
                                    <div class="row p_info_item_inner">
                                        <div class="col-sm-4">
                                            <div class="p_info_item">
                                                <img src="{% static 'img/icon/p-icon-1.png' %}" alt="">
                                                <a href="#">
                                                    <h4>Role</h4>
                                                </a>
                                                <a class="info_btn" href="#">Master?</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="p_info_item">
                                                <img src="{% static 'img/icon/p-icon-2.png' %}" alt="">
                                                <a href="#">
                                                    <h4>Nouveaux Textes</h4>
                                                </a>
                                                <a class="info_number" href="#">{{demands_count}}</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="p_info_item">
                                                <img src="{% static 'img/icon/p-icon-3.png' %}" alt="">
                                                <a href="#">
                                                    <h4>Révisions</h4>
                                                </a>
                                                <a class="info_number" href="#">{{revisions_count}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <form action="{% url 'users:update' %}" method="post" enctype="multipart/form-data"
                                        id="userForm" class="contact_form mt-3">
                                        {% csrf_token %}
                                        <div class="row contact_fill">
                                            <div class="col-lg-6 form-group">
                                                {{form.first_name}}
                                                <ul class="error">
                                                    {% for error in form.first_name.errors %}
                                                    <li>{{error}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                {{form.last_name}}
                                                <ul class="error">
                                                    {% for error in form.last_name.errors %}
                                                    <li>{{error}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                {{form.email}}
                                                <ul class="error">
                                                    {% for error in form.email.errors %}
                                                    <li>{{error}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                {{form.phone}}
                                                <ul class="error">
                                                    {% for error in form.phone.errors %}
                                                    <li>{{error}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-lg-12 form-group">
                                                <h6>Biographie:</h6>
                                                {{form.bio}}
                                                <ul class="error">
                                                    {% for error in form.bio.errors %}
                                                    <li>{{error}}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {%comment%}
                                            <div class="col-lg-12 form-group">
                                                <h6>Image profile:</h6>
                                                {{form.picture}}
                                                <!-- CONTAINER TO DISPLAY THE CROPPED IMAGES -->
                                                {% if user.picture %}
                                                <div class="row" style="margin-top: 20px">
                                                    <div class="col-sm-4 col-md-3">
                                                        <img src="{{ user.picture.url }}" class="thumbnail">
                                                    </div>
                                                </div>
                                                {%endif%}
                                            </div>
                                            {{form.x}}
                                            {{form.y}}
                                            {{form.width}}
                                            {{form.height}}
                                            {%endcomment%}
                                            <div class="col-lg-12 form-group">
                                                <button type="submit" class="btn action_btn thm_btn">Sauvegarder
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                                <div class="forum_l_inner">
                                    <div class="forum_head d-flex justify-content-between">
                                        <ul class="nav right">
                                            <li>
                                                <div class="dropdown list_sirt">
                                                    <button class="btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton5" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        Filtrer par <i class="arrow_carrot-down"></i>
                                                    </button>
                                                    <div class="dropdown-menu short-by"
                                                        aria-labelledby="dropdownMenuButton5">
                                                        <a class="dropdown-item active-short"
                                                            href="{% url 'users:detail' user.username %}?o=oldest">plus
                                                            ancien</a>
                                                        <a class="dropdown-item"
                                                            href="{% url 'users:detail' user.username %}?o=newest">plus
                                                            récent</a>
                                                        {% comment %}
                                                        <a class="dropdown-item" href="#0">First Comments</a>
                                                        <a class="dropdown-item" href="#0">New Comments</a>
                                                        {% endcomment %}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        {% comment %}
                                        <div class="page">Page {{ demands.number }} de {{
                                            demands.paginator.num_pages|add:revisions.paginator.num_pages }}</div>
                                        {% endcomment %}
                                        <div class="page">Page {{ demands.number }} de {{ demands.paginator.num_pages }}
                                        </div>
                                    </div>
                                    <div class="forum_body">
                                        <ul class="navbar-nav topic_list">
                                            {% for text in demands %}
                                            <li {% if text.verified %}class="check" {% endif %}>
                                                <div class="media">

                                                    <div class="media-body">
                                                        <div class="t_title">
                                                            <a href="{% url 'demands:demand' text.slug %}">
                                                                <h4>{{text.title}}</h4>
                                                            </a>
                                                        </div>
                                                        <a href="#">
                                                            <h6><i class="icon_lightbulb_alt" aria-hidden="true"></i>
                                                                {{text.service_name}} </h6>
                                                        </a>
                                                        <h6><i class="icon_calendar"></i> {{text.timestamp|timesince}}
                                                        </h6>
                                                    </div>
                                                    <div class="media-right">
                                                        <a class="count " href="#"><i
                                                                class="icon_chat_alt"></i>{{text.revision_count}}</a>
                                                        <!--a class="count rate" href="#"><i
                                                                class="icon_star"></i>33</a-->
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            {% comment%}
                                            {% for text in revisions %}
                                            <li {% if text.verified %}class="check" {% endif %}>
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="t_title">
                                                            <a href="{% url 'demands:demand' text.slug %}">
                                                                <h4>{{text.title}}</h4>
                                                            </a>
                                                        </div>
                                                        <a href="#">
                                                            <h6><i class="icon_lightbulb_alt" aria-hidden="true"></i>
                                                                {{text.service}} </h6>
                                                        </a>
                                                        <h6><i class="icon_calendar"></i> {{text.timestamp|timesince}}
                                                        </h6>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                            {%endcomment%}
                                        </ul>
                                    </div>
                                </div>
                                <div class="list_pagination d-flex justify-content-between">
                                    <div class="left">
                                        {% comment %}
                                        <p>{{ demands.paginator.num_pages|add:revisions.paginator.num_pages }} total</p>
                                        {% endcomment %}
                                        <p>{{ demands_count}} total</p>
                                    </div>
                                    <div class="right">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                {% if demands.has_previous or revisions.has_previous %}
                                                {% if demands.previous_page_number %}
                                                <li class="page-item"><a class="page-link"
                                                        href="{{request.path}}?page={{ demands.previous_page_number }}#profile">{{
                                                        demands.previous_page_number }}</a></li>
                                                {% endif %}
                                                {% if revisions.previous_page_number %}
                                                <li class="page-item"><a class="page-link"
                                                        href="{{request.path}}?page={{ revisions.previous_page_number }}#profile">{{
                                                        revisions.previous_page_number }}</a></li>
                                                {% endif %}
                                                {% endif %}
                                                <li class="page-item active"><a class="page-link" href="#">{{
                                                        demands.number }}</a></li>
                                                {% if demands.has_next or revisions.has_next %}
                                                {% if demands.next_page_number %}
                                                <li class="page-item"><a class="page-link"
                                                        href="{{request.path}}?page={{ demands.next_page_number }}#profile">{{
                                                        demands.next_page_number }}</a></li>
                                                {% endif %}
                                                {% if revisions.next_page_number %}
                                                <li class="page-item"><a class="page-link"
                                                        href="{{request.path}}?page={{ revisions.next_page_number }}#profile">{{
                                                        revisions.next_page_number }}</a></li>
                                                {% endif %}
                                                {% endif %}

                                                <!--li class="page-item"><a class="page-link" href="#"><i
                                                        class="arrow_carrot-right"></i></a></li-->
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="contact" role="tabpanel" aria-labelledby="contact-tab">

                                <h2>Forum Topics Started</h2>
                                <div class="forum_l_inner comment_l">
                                    <div class="forum_head d-flex justify-content-between">
                                        <ul class="nav right">
                                            <li>
                                                <div class="dropdown list_sirt">
                                                    <button class="btn dropdown-toggle" type="button"
                                                        id="dropdownMenuButton5" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                        Sirt by <i class="arrow_carrot-down"></i>
                                                    </button>
                                                    <div class="dropdown-menu short-by"
                                                        aria-labelledby="dropdownMenuButton5">
                                                        <a class="dropdown-item active-short"
                                                            href="{% url 'users:detail' user.username %}?o=oldest">Oldest</a>
                                                        <a class="dropdown-item"
                                                            href="{% url 'users:detail' user.username %}?o=newest">Newest</a>
                                                        {% comment %}
                                                        <a class="dropdown-item" href="#0">First Comments</a>
                                                        <a class="dropdown-item" href="#0">New Comments</a>
                                                        {% endcomment %}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="page">Page 1 of 4</div>
                                    </div>
                                </div>
                                <div class="list_pagination d-flex justify-content-between">
                                    <div class="left">
                                        <p>Viewing 30 topics - 1 through 3 (of 45 total)</p>
                                    </div>
                                    <div class="right">
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item active"><a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">3</a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#"><i
                                                            class="arrow_carrot-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="forum-user-wrapper">
    <div class="container">
        <div class="row forum_main_inner">
            <div class="col-lg-12">
                <div class="fade show" id="mdp" role="tabpanel" aria-labelledby="mdp-tab">
                    <div class="forum_l_inner">
                        <div class="forum_head d-flex justify-content-between">
                            <form action="{% url 'users:passwd' %}" method="post" id="passwForm"
                                class="contact_form mt-3">
                                {% csrf_token %}
                                <div class="row contact_fill">
                                    <div class="col-lg-12 form-group">
                                        {{passwform.old_password}}
                                        <ul class="error">
                                            {% for error in form.old_password.errors %}
                                            <li>{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="row contact_fill">
                                    <div class="col-lg-12 form-group">
                                        {{passwform.new_password1}}
                                        <ul class="error">
                                            {% for error in form.new_password1.errors %}
                                            <li>{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="row contact_fill">
                                    <div class="col-lg-12 form-group">
                                        {{passwform.new_password2}}
                                        <ul class="error">
                                            {% for error in form.new_password2.errors %}
                                            <li>{{error}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <button type="submit" class="btn action_btn thm_btn">Changer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%comment%}
<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Crop the photo</h4>
            </div>
            <div class="modal-body">
                <img src="" id="image" style="max-width: 100%;">
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                        <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
            </div>
        </div>
    </div>
</div>
{%endcomment%}
<!--================End Forum Content Area =================-->

{% endblock content %}
{% block javascript%}
{{block.super}}
<script src="{% static 'js/cropper.min.js' %}"></script>
<script src="{% static 'js/jquery-cropper.js' %}"></script>
<script>
    $(function () {
        $('#id_first_name').addClass('form-control').attr("placeholder", "Prénom");
        $('#id_last_name').addClass('form-control').attr("placeholder", "Nom");
        $('#id_email').addClass('form-control').attr("placeholder", "Email");
        $('#id_phone').addClass('form-control').attr("placeholder", "N° téléphone");
        $('#id_bio').addClass('form-control').attr("placeholder", "…");
        $('#id_old_password').addClass('form-control').attr("placeholder", "Mot de passe actuel");
        $('#id_new_password1').addClass('form-control').attr("placeholder", "Nouveau mot de passe");
        $('#id_new_password2').addClass('form-control').attr("placeholder", "Confirmer nouveau mot de passe");
    });
</script>
{%comment%}
<script>
    $(function () {
        /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
        $("#id_picture").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image").attr("src", e.target.result);
                    $("#modalCrop").modal("show");
                }
                reader.readAsDataURL(this.files[0]);
            }
        });

        /* SCRIPTS TO HANDLE THE CROPPER BOX */
        var $image = $("#image");
        var cropBoxData;
        var canvasData;
        $("#modalCrop").on("shown.bs.modal", function () {
            var $image = $("#image");
            $("#image").cropper({
                viewMode: 1,
                aspectRatio: 1 / 1,
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
                ready: function () {
                    $("#image").cropper("setCanvasData", canvasData);
                    $("#image").cropper("setCropBoxData", cropBoxData);
                }
            });
        }).on("hidden.bs.modal", function () {
            cropBoxData = $("#image").cropper("getCropBoxData");
            canvasData = $("#image").cropper("getCanvasData");
            $("#image").cropper("destroy");
        });

        $(".js-zoom-in").click(function () {
            $("#image").cropper("zoom", 0.1);
        });

        $(".js-zoom-out").click(function () {
            $("#image").cropper("zoom", -0.1);
        });

        /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
        $(".js-crop-and-upload").click(function () {
            var cropData = $("#image").cropper("getData");
            console.log(cropData);
            $("#id_x").val(cropData["x"]);
            $("#id_y").val(cropData["y"]);
            $("#id_height").val(cropData["height"]);
            $("#id_width").val(cropData["width"]);
            $("#userForm").submit();
        });

    });
</script>
{%endcomment%}
{%endblock javascript%}