{% extends 'redico/redico_base.html' %}
{% load static %}

{% block title%}  Redico — Textes en attente de correction {% endblock title%}
{% block seo %}
<meta name="title" content="Redico — Textes en attente de correction">
<meta name="keywords" content="plateforme,aide,rédaction,francophone,français,langue française"/>
<meta name="description" content="Redico est une plateforme d’aide à la rédaction qui s’adresse à la population francophone.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://redico.wiki/">
<meta property="og:title" content="Redico — Plateforme d'aide à la rédaction">
<meta property="og:description" content="RediCo est une plateforme d’aide à la rédaction qui s’adresse à la population francophone.">
<meta property="og:image" content="https://redico.wiki/media/redico.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://redico.wiki/">
<meta property="twitter:title" content="Redico — Plateforme d'aide à la rédaction">
<meta property="twitter:description" content="RediCo est une plateforme d’aide à la rédaction qui s’adresse à la population francophone.">
<meta property="twitter:image" content="https://redico.wiki/media/redico.png">
{% endblock %}
{% block content %}
{% include 'redico/snippets/banner.html' with heading="Textes en attente de correction" %}
{#% include 'redico/snippets/categories-breadcumb.html' with categoryName=object.name %#}
<section class="doc_blog_grid_area sec_pad forum-page-content">
    <div class="container">
        {% include 'redico/snippets/messages.html' %}
        <div class="row">
            <div class="col-lg-9">
                <div class="forum_l_inner">
                    <div class="forum_body">
                        <ul class="navbar-nav topic_list infinite-container">
                            {% for demand in object_list%}
                            <li class="infinite-item">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="t_title">
                                            <a href="{% url 'demands:demand' demand.slug %}">
                                                <h4>
                                                    {{demand.title}}
                                                    {% if demand.verified %}
                                                    <ion-icon name="checkmark-circle" role="img" class="md hydrated" aria-label="checkmark circle"></ion-icon>
                                                    {% endif %}
                                                </h4>
                                            </a>
                                            {% spaceless %}
                                            {% if demand.last_revision_content %}
                                             <p>{{demand.last_revision_content|safe|truncatechars:80}}</p>
                                            {%else%}
                                             <p>{{demand.content|safe|truncatechars:80}}</p>
                                            {%endif%}
                                             {% endspaceless %}
                                        </div>
                                        <a href="#">
                                            <h6><i aria-hidden="true" class="icon_lightbulb_alt"></i>&nbsp;{{demand.service_name}}
                                            </h6>
                                        </a>
                                        <h6><i class="icon_clock_alt"></i>&nbsp;{{demand.timestamp|timesince}}
                                        </h6>
                                        {% if user.is_authenticated %}
                                        <a href="{% url 'demands:demand' demand.slug %}" class="doc_border_btn btn_small">Modifier le texte</a>
                                        {% else %}
                                        <a href="{% url 'account_login' %}?next={% url 'demands:demand' demand.slug %}" class="doc_border_btn btn_small">Modifier le texte</a>
                                        {% endif %}
                                        <a href="{% url 'demands:demand' demand.slug %}" class="doc_border_btn btn_small">Accéder aux révisions</a>
                                    </div>
                                    <div class="media-right">
                                        <a class="count" href="#">
                                            <ion-icon name="create-outline"></ion-icon>
                                            {{ demand.revision_count }}</a>
                                        <a class="count" href="#">
                                            <ion-icon name="eye-outline"></ion-icon>
                                            {{ demand.pageviews.count }}</a>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

                <div class="row pagination_inner">
                    <div class="col-lg-2">
                        <!--h6>Total: <span> {#{ page_obj.paginator.count }#} </span></h6-->
                    </div>
                    <!--div class="col-lg-8">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {#% if page_obj.has_previous %#}
                                <li class="page-item"><a class="page-link"
                                                         href="{#% url 'categories:demands' %#}?page={#{page_obj.previous_page_number}#}">Précédent</a>
                                </li>
                                {#% endif %#}

                                <li class="page-item active"><a class="page-link" href="#">{#{ page_obj.number }#}</a>
                                </li>
                                {#% if page_obj.has_next %#}
                                <li class="page-item"><a class="page-link"
                                                         href="{#% url 'demands:demands_feed' %#}?page={#{page_obj.next_page_number}#}">Suivant<i
                                        class="arrow_carrot-right"></i></a></li>
                                {#% endif %#}
                            </ul>
                        </nav>
                    </div-->
                    <div class="doc_title text-center mt-40">
                        {% if page_obj.has_next %}
                        <a class="action_btn box_shadow_none wow fadeInUp infinite-more-link" data-wow-delay="0.2s"
                           href="{% url 'demands:demands_feed' %}?page={{ page_obj.next_page_number }}" id="feed">Voir&nbsp;plus</a>
                        {% endif %}
                        <div class="loading" style="display: none;">
                            Encore...
                        </div>

                    </div>
                </div>
                <!-- /.community-posts-wrapper -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
    </div>
</section>

{% include 'redico/snippets/joinus.html' %}
{% endblock content %}

{% block javascript%}
{{block.super}}
<script src="{% static 'js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/infinite.min.js' %}" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        window.total_count = eval({{page_obj.count}});
        window.current_page = eval({{ page_obj.next_page_number }});
        $("#feed").click(function(e){
        e.preventDefault();
           window.feed();
        });
       window.feed = function(){
            $.ajax({
                url: "{% url 'demands:demands_feed' %}" ,
                type: 'GET',
                data: { "page": window.current_page },
                dataType: 'json',
                cache: false,
                success: function(e,a,b){
                    console.log(e);
                    $('.topic_list').append(e);
                    window.current_page++;
                },
                error: function(a,b,c,d){
                    console.log(b);
                }
            });
       };
        var infinite = new Waypoint.Infinite({
           element: $('.infinite-container')[0],
           handler: function(direction) {
               window.feed();
           },
           onBeforePageLoad: function () {
                $('.loading').show();
           },
           onAfterPageLoad: function ($items) {
                $('.loading').hide();
           }
        });
     });

</script>
{% endblock %}